<!doctype html>
<html>
<head>
  <title>Islands Proto-Site</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Islands Proto-Site</h1>
  
  <h2>Listings for Gold Smelted</h2>
  
  <table>
  <TR>
     <TH>Price</TH>
     <TH>Vouches</TH>
     <TH>Reports</TH>
  </TR>
  
  {% for item in items %}
  <TR>
     <TD>{{item[0]}}</TD>
     <TD>{{item[1]}}</TD>
     <TD>{{item[2]}}</TD>
  </TR>
  {% endfor %}
  </table>
  
</body>
</html>